h1, p, th, td {
  font-family: 'H', 'Trebuchet MS', 'Helvetica'
}

body {
  background-image: url('https://wallpaper-house.com/data/out/12/wallpaper2you_544236.png');
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
}

#player {
  border-radius: 50px;
  background: #000;
  padding: 20px;
  height: 50px;
  color: #fff;
  margin: auto;
   width: 50%;
  /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */
}

#boss {
  cursor: pointer;
  user-select: none;
  width: 0px;

  width: 1024px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

.content {
  width: 1024px;
  height: 96vh;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  }

#player_level, #player_exp {
  display: inline-block;
  padding-right: 30px
}

#minion_0, #minion_1, #minion_2 {
  padding-top: 10px;
}

.minion {
  cursor: pointer;
  user-select: none;
  width: 300px;
  display: inline-block;
}

.health-bar {
  width: 100px;
  height: 20px;
  background-image: linear-gradient(red , #753333);
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

#boss_hp, #minion_hp_0, #minion_hp_1, #minion_hp_2 {
  height: 20px;
  background-image: linear-gradient(#00ff58 , #34953a);
}
