h1, p, th, td {
  font-family: 'H', 'Trebuchet MS', 'Helvetica'
}

#boss, #minion {
  cursor: pointer;
  user-select: none;
  width: 0px;

  width: 700px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

.content {
  width: 700px;
  height: 96vh;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  }

#player_level, #player_exp {
  display: inline-block;
}

#health-bar {
  width: 100px;
  height: 20px;
  background-color: red;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

#health {
  height: 20px;
  background-color: green;
}
