h1, p, th, td {
  font-family: 'H', 'Trebuchet MS', 'Helvetica'
}

#boss {
  cursor: pointer;
  user-select: none;
  width: 0px;

  width: 1024px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

.content {
  width: 1024px;
  height: 96vh;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  }

#player_level, #player_exp {
  display: inline-block;
}

.minion {
  cursor: pointer;
  user-select: none;
  width: 300px;
  display: inline-block;
}

.health-bar {
  width: 100px;
  height: 20px;
  background-color: red;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

#boss_hp, #minion_hp_0, #minion_hp_1, #minion_hp_2 {
  height: 20px;
  background-color: green;
}
